In [1]:
import pandas as pd
import altair as alt

In [2]:
all_committees = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/committees.csv")

In [3]:
all_committees.describe()

,calaccess_prop_id,ccdc_prop_id,ccdc_committee_id,calaccess_committee_id
count,1.020000e+02,102.000000,102.000000,1.020000e+02
mean,1.380427e+06,78.294118,432.500000,1.359395e+06
std,4.570883e+03,4.742035,29.588849,8.977222e+04
min,1.362198e+06,70.000000,382.000000,7.610100e+05
25%,1.381268e+06,75.000000,407.250000,1.372902e+06
50%,1.381724e+06,77.000000,432.500000,1.382706e+06
75%,1.382647e+06,83.000000,457.750000,1.387186e+06
max,1.386783e+06,86.000000,483.000000,1.392066e+06

In [4]:
all_committees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             102 non-null    object
 1   calaccess_prop_id       102 non-null    int64
 2   ccdc_prop_id            102 non-null    int64
 3   prop_name               102 non-null    object
 4   ccdc_committee_id       102 non-null    int64
 5   calaccess_committee_id  102 non-null    int64
 6   committee_name          102 non-null    object
 7   committee_position      102 non-null    object
dtypes: int64(4), object(4)
memory usage: 6.5+ KB

In [5]:
contribs = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/contributions.csv")

In [6]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84.0
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35.0
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198.0
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50.0
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50.0

In [7]:
all_committees.prop_name.value_counts()

PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE CRIMINAL PROCEEDINGS AND SENTENCING. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                           13
PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTHCARE, TOBACCO USE PREVENTION, RESEARCH, AND LAW ENFORCEMENT. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.    12
PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.                                                                                                   11
PROPOSITION 066- DEATH PENALTY. PROCEDURES. INITIATIVE STATUTE.                                                                                                 9
PROPOSITION 055 - TAX EXTENSION TO FUND EDUCATION AND HEALTHCARE. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                          8
PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON SINGLE-USE PLASTIC BAGS.                                                                                         7
PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.                                                                                                             7
PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES OF 2016), ALLEN. CAMPAIGN FINANCE: VOTER INSTRUCTION                                                              6
PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOTER APPROVAL. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                                 4
PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-12 SCHOOL AND COMMUNITY COLLEGE FACILITIES. INITIATIVE STATUTORY AMENDMENT.                                       4
PROPOSITION 054 - LEGISLATURE. LEGISLATION AND PROCEEDINGS. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                                                    4
PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUTES OF 2014), LARA. ENGLISH LANGUAGE EDUCATION                                                                     4
PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE.                                                                                                 4
PROPOSITION 061- STATE PRESCRIPTION DRUG PURCHASES. PRICING STANDARDS. INITIATIVE STATUTE.                                                                      3
PROPOSITION 052 - STATE FEES ON HOSPITALS. FEDERAL MEDI-CAL MATCHING FUNDS. INITIATIVE STATUTORY AND CONSTITUTIONAL AMENDMENT.                                  3
PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH REQUIREMENTS. INITIATIVE STATUTE.                                                                                 2
PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INITIATIVE STATUTE.                                                                                                   1
Name: prop_name, dtype: int64

In [8]:
my_prop = 'PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE.'

In [9]:
all_committees.prop_name == my_prop

0      False
1      False
2      False
3      False
4      False
       ...
97     False
98     False
99     False
100    False
101    False
Name: prop_name, Length: 102, dtype: bool

In [10]:
all_committees = all_committees[all_committees.prop_name == my_prop]

In [11]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calaccess_committee_id        56379 non-null  int64
 1   committee_name                56379 non-null  object
 2   calaccess_filing_id           56379 non-null  int64
 3   date_received                 56379 non-null  object
 4   contributor_lastname          56375 non-null  object
 5   contributor_firstname         53411 non-null  object
 6   contributor_city              56369 non-null  object
 7   contributor_state             56363 non-null  object
 8   contributor_zip               56366 non-null  object
 9   contributor_employer          48572 non-null  object
 10  contributor_occupation        53273 non-null  object
 11  contributor_is_self_employed  56379 non-null  bool
 12  amount                        56379 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [12]:
merged = pd.merge(all_committees, contribs, on="calaccess_committee_id")

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11025 entries, 0 to 11024
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ocd_prop_id                   11025 non-null  object
 1   calaccess_prop_id             11025 non-null  int64
 2   ccdc_prop_id                  11025 non-null  int64
 3   prop_name                     11025 non-null  object
 4   ccdc_committee_id             11025 non-null  int64
 5   calaccess_committee_id        11025 non-null  int64
 6   committee_name_x              11025 non-null  object
 7   committee_position            11025 non-null  object
 8   committee_name_y              11025 non-null  object
 9   calaccess_filing_id           11025 non-null  int64
 10  date_received                 11025 non-null  object
 11  contributor_lastname          11025 non-null  object
 12  contributor_firstname         10913 non-null  object
 13  contributor_city              11023 non-null  object
 14  contributor_state             11020 non-null  object
 15  contributor_zip               11023 non-null  object
 16  contributor_employer          6836 non-null   object
 17  contributor_occupation        10912 non-null  object
 18  contributor_is_self_employed  11025 non-null  bool
 19  amount                        11025 non-null  float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 1.7+ MB

In [14]:
merged.amount.sum()

3491136.68

In [15]:
merged.committee_position == 'SUPPORT'

0        False
1        False
2        False
3        False
4        False
         ...
11020    False
11021    False
11022    False
11023    False
11024    False
Name: committee_position, Length: 11025, dtype: bool

In [16]:
support = merged[merged.committee_position == 'SUPPORT']

In [17]:
support.amount.sum()

2829869.1

In [18]:
support.amount.sum()/merged.amount.sum()

0.8105867399038642

In [19]:
big_donors = merged.sort_values("amount", ascending=False)

In [20]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [21]:
oppose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5568 entries, 0 to 11024
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ocd_prop_id                   5568 non-null   object
 1   calaccess_prop_id             5568 non-null   int64
 2   ccdc_prop_id                  5568 non-null   int64
 3   prop_name                     5568 non-null   object
 4   ccdc_committee_id             5568 non-null   int64
 5   calaccess_committee_id        5568 non-null   int64
 6   committee_name_x              5568 non-null   object
 7   committee_position            5568 non-null   object
 8   committee_name_y              5568 non-null   object
 9   calaccess_filing_id           5568 non-null   int64
 10  date_received                 5568 non-null   object
 11  contributor_lastname          5568 non-null   object
 12  contributor_firstname         5463 non-null   object
 13  contributor_city              5566 non-null   object
 14  contributor_state             5566 non-null   object
 15  contributor_zip               5566 non-null   object
 16  contributor_employer          3538 non-null   object
 17  contributor_occupation        5462 non-null   object
 18  contributor_is_self_employed  5568 non-null   bool
 19  amount                        5568 non-null   float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 875.4+ KB

In [22]:
oppose.sort_values("amount", ascending=False)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
1594,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2097584,2016-10-04,NATIONAL RIFLE ASSOCIATION POLITICAL VICTORY FUND,NaN,FAIRFAX,VA,22030,NaN,NaN,False,50000.0
16,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2038369,2016-02-25,NATIONAL RIFLE ASSOCIATION OF AMERICA,NaN,FAIRFAX,VA,22030,NaN,NaN,False,45000.0
5,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2038369,2016-02-02,CALIFORNIA RIFLE & PISTOL ASSOCIATION,NaN,FULLERTON,CA,92835,NaN,NaN,False,35000.0
620,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2082835,2016-08-19,CALIFORNIA WATERFOWL ASSOCIATION,NaN,ROSEVILLE,CA,95678,NaN,NaN,False,25000.0
2026,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2097584,2016-10-19,"GUN OWNERS OF CALIFORNIA, INC.",NaN,SACRAMENTO,CA,95833,NaN,NaN,False,15000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,453,1380746,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",OPPOSE,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",2033917,2016-03-11,CAMERON,TOM,SAN FRANCISCO,CA,94116,SPORTS BASEMENT,SALES,False,-450.0
3578,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,453,1380746,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",OPPOSE,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",2063076,2016-05-17,HILL,ROBERT,SAN JOSE,CA,95126,SELF EMPLOYED - ROBERT HILL,INFORMATION REQUESTED,False,-500.0
3579,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,453,1380746,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",OPPOSE,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",2063076,2016-05-17,LINDSEY,JOHN,MOORPARK,CA,93021,SECURITIES AMERICA,FINANCIAL ADVISOR,False,-1000.0
3316,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,453,1380746,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",OPPOSE,"STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...",2063076,2016-04-14,MCCREADY,CARRIE,ELK GROVE,CA,95624,NaN,HOMEMAKER,False,-2450.0
2152,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,452,1382067,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",OPPOSE,"COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...",2129919,2016-10-28,"GUN OWNERS OF CALIFORNIA, INC.",NaN,SACRAMENTO,CA,95833,NaN,NaN,False,-15000.0

In [23]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calaccess_committee_id        56379 non-null  int64
 1   committee_name                56379 non-null  object
 2   calaccess_filing_id           56379 non-null  int64
 3   date_received                 56379 non-null  object
 4   contributor_lastname          56375 non-null  object
 5   contributor_firstname         53411 non-null  object
 6   contributor_city              56369 non-null  object
 7   contributor_state             56363 non-null  object
 8   contributor_zip               56366 non-null  object
 9   contributor_employer          48572 non-null  object
 10  contributor_occupation        53273 non-null  object
 11  contributor_is_self_employed  56379 non-null  bool
 12  amount                        56379 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [24]:
merged.groupby("contributor_state").amount.sum().reset_index().sort_values("amount", ascending=False)

   contributor_state      amount
2                 CA  3124081.68
24                NY   107115.00
1                 AZ   101425.00
34                VA    95390.00
4                 CT    40625.00
23                NV     4405.00
32                TX     3675.00
17                MN     2140.00
35                WA     1350.00
14                MA     1200.00
36                WI     1000.00
26                OR      850.00
22                NJ      760.00
9                 IL      725.00
29                SC      650.00
37                WY      500.00
16                MI      450.00
19                NC      400.00
3                 CO      400.00
7                 HI      400.00
6                 GA      385.00
27                PA      350.00
31                TN      300.00
10                IN      300.00
8                 IA      250.00
5                 FL      240.00
13                LA      225.00
25                OH      200.00
33                UT      200.00
28                RI      200.00
15                MD      125.00
11                KS      100.00
12                KY      100.00
30                TE      100.00
21                NH      100.00
18                MO       50.00
20                NE       50.00
0                  A       20.00

In [25]:
merged.fillna("").groupby(
    ["contributor_firstname", "contributor_lastname"]
).amount.sum().reset_index().sort_values("amount", ascending=False)

     contributor_firstname contributor_lastname    amount
4227                  SEAN               PARKER  400000.0
1620             GEORGE M.               MARCUS  250000.0
3502              NICHOLAS             PRITZKER  250000.0
4459        SUSIE TOMPKINS                BUELL  210000.0
1169                 DIANE               WILSEY  110000.0
...                    ...                  ...       ...
4489              TERRENCE            GRYWINSKI       0.0
486                  BRIAN                MOORE       0.0
3954                ROBERT                 HILL       0.0
2557                KATHIE                 KAWA       0.0
3825                  RICH                BYRUM       0.0

[4863 rows x 3 columns]

In [26]:
top_supporters = support.fillna("").groupby(
    ["contributor_lastname", "contributor_firstname"]
).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

In [27]:
top_supporters

       contributor_lastname contributor_firstname    amount
1740                 PARKER                  SEAN  400000.0
1834               PRITZKER              NICHOLAS  250000.0
1415                 MARCUS             GEORGE M.  250000.0
264                   BUELL        SUSIE TOMPKINS  210000.0
2522                 WILSEY                 DIANE  110000.0
0     11 WEST PARTNERS, LLC                        100000.0
527          DIGNITY HEALTH                        100000.0
541                   DOLBY                DAGMAR  100000.0
2171                  SOROS             ALEXANDER  100000.0
2125                 SIMONS             ELIZABETH  100000.0

In [32]:
top_supporters['contributor_fullname'] 
    = top_supporters.contributor_firstname + " " + top_supporters.contributor_lastname

In [33]:
alt.Chart(top_supporters).mark_bar().encode(
    x='contributor_fullname',
    y='amount'
)

alt.Chart(...)

In [36]:
alt.Chart(top_supporters.head(5)).mark_bar().encode(
    x='amount',
    y=alt.Y('contributor_fullname', sort="-x")
)

alt.Chart(...)