In [13]:
import pandas as pd

In [14]:
committees = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/committees.csv")

In [15]:
committees.describe()

,calaccess_prop_id,ccdc_prop_id,ccdc_committee_id,calaccess_committee_id
count,1.020000e+02,102.000000,102.000000,1.020000e+02
mean,1.380427e+06,78.294118,432.500000,1.359395e+06
std,4.570883e+03,4.742035,29.588849,8.977222e+04
min,1.362198e+06,70.000000,382.000000,7.610100e+05
25%,1.381268e+06,75.000000,407.250000,1.372902e+06
50%,1.381724e+06,77.000000,432.500000,1.382706e+06
75%,1.382647e+06,83.000000,457.750000,1.387186e+06
max,1.386783e+06,86.000000,483.000000,1.392066e+06

In [16]:
committees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             102 non-null    object
 1   calaccess_prop_id       102 non-null    int64
 2   ccdc_prop_id            102 non-null    int64
 3   prop_name               102 non-null    object
 4   ccdc_committee_id       102 non-null    int64
 5   calaccess_committee_id  102 non-null    int64
 6   committee_name          102 non-null    object
 7   committee_position      102 non-null    object
dtypes: int64(4), object(4)
memory usage: 6.5+ KB

In [17]:
contribs = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/contributions.csv")

In [18]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84.0
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35.0
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198.0
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50.0
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50.0

In [19]:
committees.committee_name.value_counts().reset_index()

                                                index  committee_name
0   MILLION VOTER PROJECT ACTION FUND - YES ON 55,...               6
1        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))               4
2   PROTEUS ACTION LEAGUE NON-PROFIT 501 (C)(4) OR...               3
3   MILLION VOTER PROJECT ACTION FUND - YES ON 55 ...               3
4   PICO CALIFORNIA - YES ON 55, 56, AND 57 (NON P...               3
..                                                ...             ...
73  NO ON 56 - STOP THE SPECIAL INTEREST TAX GRAB....               1
74  NEWSOM BALLOT MEASURE COMMITTEE; SAFETY FOR AL...               1
75          CALIFORNIANS FOR AN EFFECTIVE LEGISLATURE               1
76  YES ON 56 STOP CANCER - PLANNED PARENTHOOD OF ...               1
77  DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...               1

[78 rows x 2 columns]

In [20]:
my_prop = 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.'

In [21]:
committees.prop_name == my_prop

0      False
1      False
2      False
3      False
4      False
       ...
97     False
98     False
99     False
100    False
101    False
Name: prop_name, Length: 102, dtype: bool

In [37]:
committees = committees[committees.prop_name == my_prop]

In [38]:
contribs.info

<bound method DataFrame.info of        calaccess_committee_id  \
0                     1386560
1                     1386560
2                     1386560
3                     1386560
4                     1386560
...                       ...
56374                 1362973
56375                 1362973
56376                 1362973
56377                 1362973
56378                 1362973

                                          committee_name  calaccess_filing_id  \
0             ADULT USE CAMPAIGN FOR PROPOSITION 64; THE              2083796
1             ADULT USE CAMPAIGN FOR PROPOSITION 64; THE              2083796
2             ADULT USE CAMPAIGN FOR PROPOSITION 64; THE              2083796
3             ADULT USE CAMPAIGN FOR PROPOSITION 64; THE              2083796
4             ADULT USE CAMPAIGN FOR PROPOSITION 64; THE              2083796
...                                                  ...                  ...
56374  YES ON PROPOSITION 52 - A COALITION OF CALIFOR...              2009922
56375  YES ON PROPOSITION 52 - A COALITION OF CALIFOR...              2009922
56376  YES ON PROPOSITION 52 - A COALITION OF CALIFOR...              2033916
56377  YES ON PROPOSITION 52 - A COALITION OF CALIFOR...              2082752
56378  YES ON PROPOSITION 52 - A COALITION OF CALIFOR...              2082752

      date_received                               contributor_lastname  \
0        2016-09-18                                            BERGMAN
1        2016-09-18                                              KAHLE
2        2016-07-15                                           MCDEVITT
3        2016-08-10                                    WARREN-SAMARIPA
4        2016-07-26                                    WARREN-SAMARIPA
...             ...                                                ...
56374    2015-12-22             CALIFORNIA HEALTH FOUNDATION AND TRUST
56375    2015-12-22        CFHS HOLDINGS, INC./MARINA DEL REY HOSPITAL
56376    2016-01-20                                     DIGNITY HEALTH
56377    2016-08-01  MEMBERS' VOICE OF THE STATE BUILDING AND CONST...
56378    2016-08-16  CALIFORNIA HOSPITALS COMMITTEE ON ISSUES, (CHC...

      contributor_firstname contributor_city contributor_state  \
0                  GRETCHEN    SPRING VALLEY                CA
1                     MYRNA        SAN DIEGO                CA
2                       LEO        ESCONDIDO                CA
3                 STEPHANIE        SAN DIEGO                CA
4                 STEPHANIE        SAN DIEGO                CA
...                     ...              ...               ...
56374                   NaN       SACRAMENTO                CA
56375                   NaN   MARINA DEL REY                CA
56376                   NaN    SAN FRANCISCO                CA
56377                   NaN       SACRAMENTO                CA
56378                   NaN       SACRAMENTO                CA

      contributor_zip       contributor_employer contributor_occupation  \
0               91978                 A NEW PATH     EXECUTIVE DIRECTOR
1               92109   NATIONAL SCHOOL DISTRICT                TEACHER
2               92025              LIFE IONIZERS    SEO/CONTENT MANAGER
3               92116  STEPHANIE WARREN SAMARIPA           ENTREPRENEUR
4               92116  STEPHANIE WARREN SAMARIPA           ENTREPRENEUR
...               ...                        ...                    ...
56374           95814                        NaN                    NaN
56375           90292                        NaN                    NaN
56376           91107                        NaN                    NaN
56377           95814                        NaN                    NaN
56378           95814                        NaN                    NaN

       contributor_is_self_employed     amount
0                             False       84.0
1                             False       35.0
2                             False      198.0
3                             False      -50.0
4                              True       50.0
...                             ...        ...
56374                         False  2000000.0
56375                         False     4629.0
56376                         False  8478390.0
56377                         False   100000.0
56378                         False  1000000.0

[56379 rows x 13 columns]>

In [39]:
merged = pd.merge(committees, contribs, on="calaccess_committee_id")

In [59]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 0 to 859
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ocd_prop_id                   860 non-null    object
 1   calaccess_prop_id             860 non-null    int64
 2   ccdc_prop_id                  860 non-null    int64
 3   prop_name                     860 non-null    object
 4   ccdc_committee_id             860 non-null    int64
 5   calaccess_committee_id        860 non-null    int64
 6   committee_name_x              860 non-null    object
 7   committee_position            860 non-null    object
 8   committee_name_y              860 non-null    object
 9   calaccess_filing_id           860 non-null    int64
 10  date_received                 860 non-null    object
 11  contributor_lastname          860 non-null    object
 12  contributor_firstname         750 non-null    object
 13  contributor_city              860 non-null    object
 14  contributor_state             860 non-null    object
 15  contributor_zip               860 non-null    object
 16  contributor_employer          657 non-null    object
 17  contributor_occupation        742 non-null    object
 18  contributor_is_self_employed  860 non-null    bool
 19  amount                        860 non-null    float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 135.2+ KB

In [41]:
merged.amount.sum()

35177017.64

In [42]:
merged.committee_position == 'SUPPORT'

0       True
1       True
2       True
3       True
4       True
       ...
855     True
856    False
857    False
858    False
859    False
Name: committee_position, Length: 860, dtype: bool

In [43]:
support = merged[merged.committee_position == 'SUPPORT']

In [44]:
support.amount.sum()

32675806.0

In [45]:
support.amount.sum()/merged.amount.sum()

0.9288964270479867

In [48]:
big_donors = merged.sort_values("amount", ascending=False)

In [50]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [58]:
oppose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 261 to 859
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ocd_prop_id                   98 non-null     object
 1   calaccess_prop_id             98 non-null     int64
 2   ccdc_prop_id                  98 non-null     int64
 3   prop_name                     98 non-null     object
 4   ccdc_committee_id             98 non-null     int64
 5   calaccess_committee_id        98 non-null     int64
 6   committee_name_x              98 non-null     object
 7   committee_position            98 non-null     object
 8   committee_name_y              98 non-null     object
 9   calaccess_filing_id           98 non-null     int64
 10  date_received                 98 non-null     object
 11  contributor_lastname          98 non-null     object
 12  contributor_firstname         56 non-null     object
 13  contributor_city              98 non-null     object
 14  contributor_state             98 non-null     object
 15  contributor_zip               98 non-null     object
 16  contributor_employer          46 non-null     object
 17  contributor_occupation        56 non-null     object
 18  contributor_is_self_employed  98 non-null     bool
 19  amount                        98 non-null     float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 15.4+ KB

In [55]:
oppose.sort_values("amount", ascending=False)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
839,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2016-07-20,SCHAUER,JULIE,OAKS,PA,19456,NaN,RETIRED,False,1000000.0
312,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2098048,2016-09-27,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,400000.0
310,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2083071,2016-09-15,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,225000.0
308,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2083071,2016-09-12,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,200000.0
840,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2016-07-25,SCHAUER,JULIE,OAKS,CA,19456,NaN,RETIRED,False,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2098048,2016-10-05,CALLAS,JOHN,PASADENA,CA,91103,CALIFORNIA INSTITUTE OF TECHNOLOGY,PHYSICIST,False,100.0
317,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2098048,2016-10-06,KOUSENS,BILL,EL CAJON,CA,92020,AEROWIND CORP,PRESIDENT,False,100.0
318,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2098048,2016-10-07,MADDEN,WILLIAM,STUDIO CITY,CA,91604,SELF,PRORPERTY MANAGEMENT,False,100.0
280,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2064127,2016-06-10,MCCARTNEY,DAVID,HOLLISTER,CA,95023,CITY OF WATSONVILLE,DEPUTY CHIEF,False,100.0
299,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2083071,2016-07-26,DAVIS,JAMES,SUNNYVALE,CA,94086,CITY OF SUNNYVALE,COUNCIL MEMBER,False,50.0

In [57]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calaccess_committee_id        56379 non-null  int64
 1   committee_name                56379 non-null  object
 2   calaccess_filing_id           56379 non-null  int64
 3   date_received                 56379 non-null  object
 4   contributor_lastname          56375 non-null  object
 5   contributor_firstname         53411 non-null  object
 6   contributor_city              56369 non-null  object
 7   contributor_state             56363 non-null  object
 8   contributor_zip               56366 non-null  object
 9   contributor_employer          48572 non-null  object
 10  contributor_occupation        53273 non-null  object
 11  contributor_is_self_employed  56379 non-null  bool
 12  amount                        56379 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [65]:
merged.groupby("contributor_state").amount.sum().reset_index()

   contributor_state       amount
0                 AB         0.00
1                 AL       100.00
2                 AZ       500.00
3                 BC         0.00
4                 CA  17491193.00
5                 CO     39300.00
6                 CT       100.00
7                 DC   2618600.00
8                 DE   6140100.00
9                 FL   1250850.00
10                GA       100.00
11                ID      1000.00
12                IL      7000.00
13                LA       100.00
14                MA       600.00
15                MD      2971.00
16                MI       400.00
17                MO       550.00
18                NC       200.00
19                NV      1800.00
20                NY   5446985.00
21                OH      2950.00
22                OK       200.00
23                OR      1400.00
24                PA   1215475.00
25                RI      6700.00
26                TX      1800.00
27                VA    895243.64
28                WA     50800.00

In [67]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

    contributor_firstname            contributor_lastname     amount
483                  SEAN  PARKER AND AFFILIATED ENTITIES  7250000.0
482                  SEAN                          PARKER  1500000.0
281                 JULIE                         SCHAUER  1364000.0
108                DANIEL                           LEWIS  1250000.0
194                 HENRY                   VAN AMERINGEN  1000000.0
..                    ...                             ...        ...
430                  RICH                        GOLDBERG       25.0
358               MARSTON                         MEDLOCK        0.0
497             STEPHANIE                 WARREN-SAMARIPA        0.0
16             AMIRGHASEM                 SAMIMI-ARDESTAN        0.0
136                 DAVID                            WOOD        0.0

[549 rows x 3 columns]